In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yahooFinance

In [2]:
spy_df = yahooFinance.Ticker("SPY").history(period="1y")
spy_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2023-09-07 00:00:00-04:00,436.997513,439.403857,436.642494,438.713531,70355400,0.0,0.0,0.0
2023-09-08 00:00:00-04:00,438.762825,440.942331,438.397934,439.374268,61659700,0.0,0.0,0.0
2023-09-11 00:00:00-04:00,442.056761,442.579448,440.311188,442.263885,60180100,0.0,0.0,0.0
2023-09-12 00:00:00-04:00,440.784578,442.342770,439.246100,439.837799,67565400,0.0,0.0,0.0
2023-09-13 00:00:00-04:00,440.064639,441.534076,438.940350,440.350647,60199300,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-08-30 00:00:00-04:00,560.770020,564.200012,557.140015,563.679993,62700100,0.0,0.0,0.0
2024-09-03 00:00:00-04:00,560.469971,560.809998,549.510010,552.080017,60491400,0.0,0.0,0.0
2024-09-04 00:00:00-04:00,550.200012,554.429993,549.460022,550.950012,47224900,0.0,0.0,0.0
2024-09-05 00:00:00-04:00,550.890015,553.799988,547.099976,549.609985,44264300,0.0,0.0,0.0
2024-09-06 00:00:00-04:00,549.940002,551.599976,539.440002,540.359985,68441000,0.0,0.0,0.0